.countries{
  padding: 48px 0px;
}

.country__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.card__list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dark .countries{
  background-color: #202C36;
}

.light .countries{
  background-color: #F2F2F2;
}
