.search__label{
  width: 100%;
  max-width: 480px;
  min-width: 480px;
  position: relative;
}

.search__label::before{
content: "";
width: 18px;
height: 18px;
background-image: url(../../assets/Images/lupa.svg);
position: absolute;
top: 20px;
left: 26px;
} 

.search__input{
  width: 100%;
  
  padding: 18px 20px 18px 74px;
  background-color: #FFFFFF;
box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
border: none;
border-radius: 5px;
&::placeholder{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #848484;
}
}

.select{
  width: 230px;
  background-color: #FFFFFF;
box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
// outline: none;
border: none;
border-radius: 5px;
padding: 18px 24px;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
}

.dark .search__input{
  color: #FFFFFF;
  background-color: #2B3844;
}

.dark .search__input::placeholder{
  color: #FFFFFF;
}

.dark .select{
  color: #FFFFFF;
  background-color: #2B3844;
}

