.single{
  height: 89.5vh;
  padding-top: 90px;
  font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;
overflow: hidden;
}

.single__button{
  width: 136px;
 
  background-color: transparent;
  outline: none;
  border: none;
  padding: 5px 10px;
  border: none;
  background: #FFFFFF;
box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.104931);
border-radius: 2px;
position: relative;
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px 30px;
}

.single__wrap{
  margin-top: 80px;
}

.info__img{
  width: 100%;
  max-width: 500px;
  min-width: 500px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

// .single__wrap{
//   display: flex;
// }

.wrap__img{
  margin-right: 100px;
}

.info__title{
  font-style: normal;
font-weight: 800;
font-size: 32px;
line-height: 44px;
margin: 0;
margin-bottom: 23px;
}

.info__text{
  font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 32px;
margin: 0;
margin-bottom: 8px;
}

.info__span{
  font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 19px;
}

.down{
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
}

.border__btn{
  padding: 5px 10px;
  border: none;
  background: #FFFFFF;
box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.104931);
border-radius: 2px;
}

.single__button::before{
  content: "";
  width: 14px;
  height: 14px;
  background-image: url(../../../assets/Images/icons/dark.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  margin-top: 5px;
}

.dark .single{
  color: white;
  background-color: #202C36;
}

.dark .single__button{
  color: white;
  background-color: #2B3844;
}

.dark .single__button::before{
  background-image: url(../../../assets/Images/icons/white.svg);
}

.dark .border__btn{
  color: white;
  background-color: #2B3844;
}


