.container{
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.under{
  text-decoration: underline;
}

.int{
  font-style: italic;
}

.bold{
  
  font-weight: bold;
  
}

.uuu{
  display: flex;
}

.list{
  list-style: none;
}